.caption-container {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px;
  background: rgba(0, 0, 0, 0.7);
  width: 85%;
  display: flex;
  flex-direction: column-reverse;
  line-height: var(--line-height);
  padding-bottom: var(--caption-pad-bottom);
  cursor: move;
}

.box-size {
  width: 30%;
  align-self: flex-end;
}

.text-capitalize {
  text-transform: uppercase;
}

.text-mix-case::first-letter {
    text-transform: uppercase;
}

.standard-position {
  padding: 30px 0px 30px 0px;
}

.raise-video-controls {
  padding: 30px 0px 60px 0px;
}

.interim-text {
  margin-left: 5px;
}

.gray-text {
  color: #D2D7D3;
}
