.text-capitalize {
  text-transform: uppercase;
}

.text-mix-case::first-letter {
    text-transform: uppercase;
}

.standard-position {
  padding: 30px 0px 30px 0px;
}

.raise-video-controls {
  padding: 30px 0px 60px 0px;
}

.interim-text {
  margin-left: 5px;
}

.gray-text {
  color: #D2D7D3;
}
