.caption-container {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  padding-bottom: 0.25em;
}

.text-capitalize {
  text-transform: uppercase;
}

.text-mix-case::first-letter {
  text-transform: uppercase;
}